<md-sidenav class="md-sidenav-right md-whiteframe-z2 right-side-nav" md-component-id="manageLocationView">
    <!-- swapping view header -->
    <md-toolbar class="light-black-bg-1">
        <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
            {{editLocationName}}
            <md-button ng-click="fnCloseLocationManageSwap();" class="md-raised md-accent">Back</md-button>
        </div>
    </md-toolbar>

    <md-content md-theme="grey">
        <md-tabs class="md-primary" md-selected="selectedLocationTab" md-dynamic-height ng-if="isTabsLoad">
            <md-tab label="Edit">
                <div ng-controller="LocationInfoCtrl"
                     ng-if="selectedLocationTab === 0"
                     ng-include="'views/authenticated/locations/locationsInfo.html'">
                </div>
            </md-tab>

            <md-tab label="Recommended Service">
                <md-content ng-controller="recommendedServiceCtrl" class="md-padding" ng-if="selectedLocationTab === 1">
                    <div layout="row" layout-sm="column" layout-align="center center"
                         ng-if="!isDataNotNull && !isMsgShow">
                        <md-progress-circular class="md-accent" md-diameter="100"
                                              md-mode="indeterminate"></md-progress-circular>
                    </div>

                    <div class="md-headline" ng-if="isMsgShow" layout="row" layout-align="center center">
                        No recommended service available.
                    </div>

                    <div layout-fill flex ng-if="isDataNotNull"
                         ui-grid-selection ui-grid-auto-resize
                         ng-style="$root.fnReturnGridHeight(recommendedServicesData.length)"
                         ui-grid="recommendedServiceGridOptions"></div>
                </md-content>
            </md-tab>

            <md-tab label="Repair Orders">
                <md-content ng-controller="repairOrderCtrl" class="md-padding" ng-if="selectedLocationTab === 2">
                    <div layout="row" layout-sm="column" layout-align="center center"
                         ng-if="!isDataNotNull && !isMsgShow">
                        <md-progress-circular class="md-accent" md-diameter="100"
                                              md-mode="indeterminate"></md-progress-circular>
                    </div>

                    <div class="md-headline" ng-if="isMsgShow" layout="row" layout-align="center center">
                        No repair orders available.
                    </div>

                    <div layout-fill flex ng-if="isDataNotNull"
                         ui-grid-selection ui-grid-auto-resize ui-grid-pagination
                         ng-style="$root.fnReturnGridHeight(filteredData.length, '', true, false)"
                         ui-grid="repairOrderGridOptions"></div>
                </md-content>
            </md-tab>

        </md-tabs>
    </md-content>

</md-sidenav>

<!-- include swapping view-->
<div ng-include="rightUserSwapView"></div>
