.center-form-container {
    width: 500px;
}

.forgot-password-dialog {
    max-width: 400px;
    max-height: 500px;
}

.Product_box {
    border: 1px solid #000;
    font-size: 21px;
    height: auto;
    padding: 31px;
    border-radius: 8px;
    cursor: pointer;
    min-height: 90px !important;
    margin: 20px;
    float: left;
    text-align: center;
}

.Product_box:hover {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}


/*---------- Location Setup ----------*/
.location-setup md-card div.md-card-image {
    background-repeat: no-repeat;
    background-position: center center;
}

.location-setup md-card div.big-img {
    height: 500px;
    background-size: 70% 450px;
}

.location-setup md-card div.small-img {
    height: 300px;
    background-size: 100%;
}

.location-setup .run-setup-bg {
    background: url("../images/setup/RunSetup.jpg");
}

.location-setup .welcome-setup-wizard-bg {
    background: url("../images/setup/WelcomeSetupWizard.jpg");
}

.location-setup .set-destination-location-bg {
    background: url("../images/setup/SetDestinationLocation.jpg");
}

.location-setup .select-start-menu-folder-bg {
    background: url("../images/setup/SelectStartMenuFolder.jpg");
}

.location-setup .ready-to-install-bg {
    background: url("../images/setup/ReadyToInstall.jpg");
}

.location-setup .installing-bg {
    background: url("../images/setup/Installing.jpg");
}

.location-setup .setup-login-bg {
    background: url("../images/setup/SetupLogin.jpeg");
}

.location-setup .loggedin-bg {
    background: url("../images/setup/Loggedin.jpeg");
}

.location-setup .setup-details-bg {
    background: url("../images/setup/SetupDetails.jpeg");
}

.location-setup .connect-shop-database-bg {
    background: url("../images/setup/ConnectShopDatabase.jpeg");
}

.location-setup .finishing-setup-bg {
    background: url("../images/setup/FinishingSetup.jpeg");
}

/*---------- Dashbaord Tab ----------*/
#dashboard-tab {
    min-height: 600px;
}

#dashboard-tab section .dashContainerContent {
    height: 352px;
}

#dashboard-tab section .dashContainerContent.summaryContent {
    height: 425px;
    max-height: 425px;
}

/*---------- Summary Calculation ----------*/
.total {
    background-color: #EEEDEE;
    text-align: center;
}

/*---------- Bar-chart no data message ----------*/
.bar-data-msg {
    position: absolute;
    top: 40%;
    left: 40%
}

/*---------- RO modal ----------*/
.leftLabel {
    font-weight: bold;
    padding-right: 3px;
}


/*---------- CRM All Customer Tab ----------*/
.breadcrumb {
    list-style: none;
    overflow: hidden;
    font-size: 14px;
    margin-left: -2.8em;
}

.breadcrumb li {
    float: left;
}

.breadcrumb li a {
    color: white;
    text-decoration: none;
    padding: 10px 0 10px 25px;
    background: brown; /* fallback color */
    background: hsla(34, 0%, 35%, 1);
    position: relative;
    display: block;
    float: left;
    min-height: 18px;
}

.breadcrumb li a:after, .breadcrumb li a:before {
    border: solid transparent;
    content: ' ';
    height: 0;
    left: 100%;
    position: absolute;
    width: 0;
}

.breadcrumb li a:after {
    border-width: 19px;
    border-left-color: hsla(34, 0%, 35%, 1);
    z-index: 1;
    top: -1px;
}

.breadcrumb li a:before {
}

.breadcrumb li:first-child a {
    padding-left: 10px;
}

.breadcrumb li:nth-child(2) a {
    background: hsla(30, 0%, 45%, 1);
}

.breadcrumb li:nth-child(2) a:after {
    border-left-color: hsla(30, 0%, 45%, 1);
}

.breadcrumb li:nth-child(3) a {
    background: hsla(30, 0%, 55%, 1);
}

.breadcrumb li:nth-child(3) a:after {
    border-left-color: hsla(30, 0%, 55%, 1);
}

.breadcrumb li:nth-child(4) a {
    background: hsla(30, 0%, 65%, 1);
}

.breadcrumb li:nth-child(4) a:after {
    border-left-color: hsla(30, 0%, 65%, 1);
}

.breadcrumb li:nth-child(5) a {
    background: hsla(30, 0%, 75%, 1);
}

.breadcrumb li:nth-child(5) a:after {
    border-left-color: hsla(30, 0%, 75%, 1);
}

.breadcrumb li:last-child a {
    background: #CCCCCC !important;
    color: black;
    pointer-events: none;
    cursor: default;
    padding-right: 18px;
}

.breadcrumb li:last-child a:after {
    border: 0;
}

.breadcrumb li a:hover {
    background: hsla(34, 0%, 25%, 1);
}

.breadcrumb li a:hover:after {
    border-left-color: hsla(34, 0%, 25%, 1) !important;
}

#customerTab .leftLabel {
    font-weight: bold;
    padding-right: 3px;
}

#customerTab .contentHeader {
    background-color: #d3d3d3 !important;
    color: #000000;
    margin-top: 5px;
}
md-dialog#manage-scheduledmsg-dialog md-toolbar.md-rsmt-theme.md-hue-1:not(.md-menu-toolbar){
    color: #FFFFFF;
}
/*---------- Jquery UI Date-range Picker ----------*/
.ui-widget {
    font-size: inherit;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: none !important;
}

.comiseo-daterangepicker-calendar .ui-state-highlight a.ui-state-default {
    color: #000000 !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background: #FFC670 !important;
}

.comiseo-daterangepicker-presets,
.comiseo-daterangepicker-calendar {
    height: auto !important;
}

.comiseo-daterangepicker-right .comiseo-daterangepicker-presets {
    padding: 0 !important;
}

.comiseo-daterangepicker-right .comiseo-daterangepicker-calendar {
    border-left-width: 0 !important;
    padding-left: 0 !important;
}

.comiseo-daterangepicker-left .comiseo-daterangepicker-calendar {
    border-right-width: 0;
    padding-right: 0;
}

.comiseo-daterangepicker-left .comiseo-daterangepicker-presets {
    padding: 0;
}

/*---------- Segments modal ----------*/
md-dialog#manage-scheduledmsg-dialog .contentViewSection {
    height: 55vh;
}

md-dialog#manage-scheduledmsg-dialog md-dialog-content {
    overflow: hidden;
}

/* Location Color Indicator */
.checked_item {
    border: 1px solid gray;
    border-radius: 13px;
    height: 26px;
    margin: 15px;
    width: 26px;
}

.checked_item_green {
    background-color: #00d500;
}

.checked_item_yellow {
    background-color: #ffff00;
}

.checked_item_red {
    background-color: #dd0000;
}

md-dialog#crmSegmentDialog md-content.template-view{
    height: 40vh;
}

/*---------------- CRM Customer Statistics ----------------*/
#customer-statistics-tab .leftLabel {
    font-weight: bold;
    padding-right: 3px;
}

#customer-statistics-tab .mapTable, #customer-statistics-tab .mapTable tr td, #customer-statistics-tab .mapTable tr th {
    border: 1px solid;
    border-collapse: collapse;
}

#customer-statistics-tab .ngMapContainer {
    height: 400px;
}

#customer-statistics-tab .ngMapContainer ng-map {
    height: 100%;
}

#customer-statistics-tab .subHeader {
    background-color: #e0e0e0 !important;
    color: #000000 !important;
}

#customer-statistics-tab .border {
    border: solid thin #CCCCCC;
}

/*---------- Terms of service ----------*/
md-dialog#terms-of-service-dialog p {
    text-align: justify;
    line-height: 1.846;
}

#customer-statistics-tab section .statContainerContent {
    height: 352px;
}

/*---------- CRM > Message Templates ----------*/
md-dialog#message-template-dialog md-dialog-content md-content iframe#rendered-html {
    width: 100%;
    height: 300px;
    border: none;
}

/*---------- Customers vehicle RO grid ----------*/
#ro-grid .ui-grid .ui-grid-viewport .ui-grid-cell-contents.highLight:hover {
    border: 2px solid #808080;
}
