@media (max-width: 959px) {
    .login-form-container {
        min-width: 300px;
    }

    img.rsmt-logo {
        height: 60px;
    }

    /*---------- Segments modal ----------*/
    md-dialog#manage-scheduledmsg-dialog, md-dialog#message-template-dialog {
        min-width: 600px;
    }

    md-toolbar .md-toolbar-tools .text-small-959 {
        font-size: 16px;
    }
}

@media screen and (max-width: 599px) {
    /* All Modal Dialog */
    md-toolbar .md-toolbar-tools .text-small-599 {
        font-size: 14px;
    }

    md-dialog#message-template-dialog md-dialog-content md-content iframe#rendered-html {
        height: inherit;
    }

}

@media (max-width: 768px) {
    /* Customize breadcrumb */
    #customerTab ul.breadcrumb {
        font-size: 12px;
        margin-left: -3.3em;
    }
}