<md-sidenav class="md-sidenav-right md-whiteframe-z2" style="min-width: 100%" md-component-id="userSwap">
    <!-- swapping view header -->
    <md-toolbar class="light-black-bg-1" md-theme="rsmt">
        <div class="md-toolbar-tools" layout="row">
            <span ng-bind="userName"></span>
            <span flex></span>
            <md-button class="md-raised md-accent" ng-click="fnCloseSwap()">Back</md-button>
        </div>
    </md-toolbar>

    <!-- swapping view content -->
    <md-content ng-controller="ManageUsersCtrl" class="md-padding" ng-init="fnInitUser();">
        <form id="userForm" name="userForm" layout="column" novalidate>
            <md-input-container class="remove-error-space">
                <label>Name</label>
                <input name="name" ng-model="user.name" ng-minlength="5"
                       ng-pattern="/^[A-Za-z\s]{1,}[\.]{0,1}[A-Za-z\s]{0,}$/" required/>
                <div ng-if="userForm.$submitted || userForm.name.$touched">
                    <span class="error-msg" ng-if="userForm.name.$error.required">Name is required.</span>
                    <span class="error-msg" ng-if="userForm.name.$error.pattern">This field must contain a alphabets.</span>
                    <span class="error-msg" ng-if="userForm.name.$error.minlength">This field is too short minimum 5 character required.</span>
                </div>
            </md-input-container>

            <md-input-container class="remove-error-space">
                <label>Email</label>
                <input name="email" type="email" ng-model="user.email" required/>
                <div ng-if="userForm.$submitted || userForm.email.$touched">
                    <span class="error-msg" ng-if="userForm.email.$error.required">Email is required.</span>
                    <span class="error-msg" ng-if="userForm.email.$error.email">This field must contain valid email address.</span>
                </div>
            </md-input-container>

            <md-input-container>
                <label>Role</label>
                <md-select aria-label="Select Role" ng-model="user.role">
                    <md-option value="User">User</md-option>
                    <md-option value="Admin">Admin</md-option>
                    <md-option value="Super">Super</md-option>
                </md-select>
            </md-input-container>

            <md-input-container>
                <label>Default Location</label>
                <md-select aria-label="Select Location" ng-model="user.defaultLocation">
                    <md-option ng-repeat="location in locations" value="{{location.id}}">
                        {{location.name}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container>
                <label>Customer Contact</label>
                <md-select aria-label="Select Role" ng-model="user.customerContact">
                    <md-option value="false">No - customer emails are not sent to this user</md-option>
                    <md-option value="true">Yes - customer emails are sent to this user</md-option>
                </md-select>
            </md-input-container>

            <md-checkbox name="verifyUser" class="md-accent"
                         aria-label="Checkbox No Ink"
                         ng-model="user.verified" md-no-ink disabled> Verified
            </md-checkbox>

            <div layout="row" layout-align="end center">
                <md-progress-circular class="md-accent"
                                      md-theme="rsmt"
                                      ng-if="isProcessing"
                                      md-mode="indeterminate"></md-progress-circular>

                <md-button type="submit" class="md-raised md-accent"
                           ng-disabled="isProcessing"
                           ng-click="userForm.$valid && fnSaveUser(user);">
                    Save
                </md-button>

                <md-button class="md-warn md-raised margin-right-0" ng-click="fnCloseSwap();">Cancel</md-button>
            </div>
        </form>
    </md-content>

</md-sidenav>
