<div class="md-padding overflow-auto"
     layout="column" flex>

    <div layout="row" layout-align="space-between center">
        <div class="md-display-1">Products</div>
    </div>
    <div layout="column" layout-gt-xs="row" flex>
        <div class="Product_box" flex-gt-xs="33" flex>
            Google Analytics
        </div>
        <div class="Product_box" flex-gt-xs="33" flex>
            Facebook
        </div>
        <div class="Product_box" flex-gt-xs="33" flex>
            Google+
        </div>
    </div>
    <div layout="column" layout-gt-xs="row" flex>
        <div class="Product_box" flex-gt-xs="33" flex>
            Inspection Newpage
        </div>
        <div class="Product_box" flex-gt-xs="33" flex>
            Act-On
        </div>
        <div class="Product_box" flex-gt-xs="33" flex>
            Website
        </div>
    </div>


</div>
