<md-dialog aria-label="Sign Up"  ng-cloak>
    <form name="businessForm" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Partner Sign-up</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">X</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div ng-if="isProcessing">
                <div ng-include="'views/loader.html'"></div>
            </div>
                <md-input-container flex>
                    <label>Business Name</label>
                    <input name=businessName"" ng-model="user.businessName" required ng-minlength="5">
                </md-input-container>
                <md-input-container flex>
                    <label>Business Zip</label>
                    <input name="businessZip" ng-model="user.businessZip"  required ng-pattern="/^[0-9]+$/" ng-minlength="5"
                           ng-maxlength="20"/>
                </md-input-container>
                <div class="form-group" style="margin-bottom: 10px;">
                    <label for="businessTimezone" class="control-label col-sm-2">Business Timezone</label>
                    <div class="col-sm-10">
                        <select name="businessTimezone" class="form-control" id="businessTimezone" ng-model="user.businessTimezone">
                            <option value="US/Hawaii">US/Hawaii</option>
                            <option value="US/Alaska">US/Alaska</option>
                            <option value="US/Pacific">US/Pacific</option>
                            <option value="US/Arizona">US/Arizona</option>
                            <option value="US/Mountain">US/Mountain</option>
                            <option value="US/Central">US/Central</option>
                            <option value="US/Eastern">US/Eastern</option>
                        </select>
                    </div>
                </div>
                <md-input-container flex>
                    <label>Business Website</label>
                    <input name="businessUrl" ng-model="user.businessUrl" required ng-pattern="/^\w+([\.-]?\w+)*\w+([\.-]?\w+)*(\.\w{2,3})+$/"/>
                </md-input-container>
                <md-input-container flex>
                    <label>Contact Name</label>
                    <input name="contactName" ng-model="user.contactName" required ng-minlength="6" ng-pattern="/^[A-Za-z ]+$/"/>
                </md-input-container>
                <md-input-container flex>
                    <label>Contact Email</label>
                    <input name="contactEmail" type="email" ng-model="user.contactEmail" required ng-minlength="5" >
                </md-input-container>
                <md-input-container flex>
                    <label>Password</label>
                    <input name="passwd" type="password" ng-model="user.password" required minlength="5">
                </md-input-container>
                <md-input-container flex>
                    <label>Password Again</label>
                    <input name="confirmPassword" type="password" ng-model="user.confirmPassword"  required minlength="5">
                </md-input-container>
                <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="agreed" class="md-primary" style="display: inline;margin: 0;line-height: 3;" required>
                </md-checkbox>
                <a ng-click="fnOpenTermsOfServiceModal($event)" href="javascript:void(0)">Agree to Terms</a>

                <div><span style="color:red"> {{ error }}</span></div>


        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-raised btn btnBlue" ng-disabled="businessForm.$invalid" ng-click="registerUser()">Create Patner Account</md-button>
            <md-button class="md-raised btn btnWhite" ng-click="hide()">Cancel</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
