<div id="customer-statistics-tab" class="md-padding">

    <div ng-if="!isLocationsData" class="margin-bottom-10">
        <div class="md-headline text-center">No Locations Available.</div>
    </div>

    <div ng-if="isLocationsData">

        <md-input-container >
            <md-select aria-label="Select location" ng-model="locationId"
                       ng-change="fnChangeLocation(locationId);">
                <md-option ng-repeat="location in locationOptions" ng-value="location.id">
                    {{location.name}}
                </md-option>
            </md-select>
        </md-input-container>

        <!-- pie-chart -->
        <section layout="column" layout-margin layout-fill>
            <div class="dash-container md-whiteframe-z2">
                <md-toolbar>
                    <div class="md-toolbar-tools container-header">
                        <span class="md-flex">Customers Count based on Email-Address</span>
                    </div>
                </md-toolbar>

                <md-content ng-if="!isMsgShow && !isDataNotNull" layout="column" layout-align="center center"
                layout-fill flex >
                    <md-progress-circular class="md-accent" md-diameter="100" md-mode="indeterminate"></md-progress-circular>
                </md-content>

                <md-content class="md-padding" ng-if="!isDataNotNull && isMsgShow" layout-margin layout-padding>
                    <span>Data not available.</span>
                </md-content>

                <md-content class="md-padding daily-container-content" ng-if="isDataNotNull">
                    <div id="pie-chart" ng-init="fnGeneratePieChart();"></div>
                </md-content>
            </div>
        </section>

        <!-- Google map -->
        <section layout="column" layout-margin layout-fill>
            <div class="dash-container md-whiteframe-z2">
                <md-toolbar>
                    <div class="md-toolbar-tools container-header">
                        <span class="md-flex">Customers by Location</span>
                    </div>
                </md-toolbar>

                <md-content class="md-padding container-content" ng-if="!isMsgShow && !isDataNotNull">
                    <md-progress-circular class="md-accent" md-diameter="100" md-mode="indeterminate"></md-progress-circular>
                </md-content>

                <md-content class="md-padding" ng-if="!isDataNotNull && isMsgShow" layout-margin layout-padding>
                    <span>Data not available.</span>
                </md-content>

                <md-content class="md-padding daily-container-content" ng-if="isDataNotNull">
                    <ng-map zoom="1" map-type-id="ROADMAP">
                        <marker ng-repeat="cust in customersStatData" ng-if="customersStatData" on-click="showInfoWindow(event, cust)"
                                position="{{cust.address}}"></marker>
                    </ng-map>
                </md-content>
            </div>
        </section>
    </div>
</div>
