<md-dialog aria-label="segmentInteractionForm" id="crmSegmentDialog" flex>

    <md-toolbar class="md-primary">
        <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
            <span class="md-title"> CRM Segments</span>
            <md-button class="md-icon-button" ng-click="fnCloseCrmDialog();">
                <md-icon md-font-set="material-icons">close</md-icon>
                <md-tooltip md-direction="top">Close</md-tooltip>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content class="md-padding" layout="column">
        <div layout="column" layout-gt-xs="row" flex>
            <md-input-container class="remove-error-space" flex>
                <label>Segment Name</label>
                <input type="text" ng-model="crmSubSegmentObj.name" disabled/>
            </md-input-container>

            <md-input-container class="remove-error-space" flex>
                <label>Subject</label>
                <input type="text" ng-model="crmSubSegmentObj.template_name" disabled/>
            </md-input-container>

            <md-input-container class="remove-error-space" flex>
                <label>Due Days</label>
                <input type="text" ng-model="crmSubSegmentObj.interaction_delay_days" disabled/>
            </md-input-container>
        </div>
        <div layout="row" flex  md-theme="grey" >
            <div class="md-whiteframe-10dp" layout="column" flex>
                <md-toolbar class="md-primary md-hue-1 md-whiteframe-2dp">
                    <div class="md-toolbar-tools">Template Preview</div>
                </md-toolbar>

                <md-content layout-fill flex class="template-view">
                    <div bind-html-compile="rendered_template.html" layout-padding></div>
                </md-content>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>
