<div id="scheduled-messages-tab">
    <div ng-if="isLocationDataProcessing" layout="column" layout-align="center center"
         layout-fill flex>
        <md-progress-circular class="md-accent" md-diameter="100"
                              md-mode="indeterminate"></md-progress-circular>
    </div>

    <div ng-if="!isLocationDataProcessing && !isLocationsData">
        <div class="md-headline text-center">Locations not available.</div>
    </div>

    <div ng-if="isLocationsData">
        <section layout="row" layout-xs="column">
            <md-input-container>
                <md-select aria-label="Select location" ng-model="idsObj.locationId"
                           ng-disabled="isSegmentsDataProcessing || isProcessingCrmData"
                           ng-change="fnChangeLocation(idsObj.locationId);">
                    <md-option ng-repeat="location in locationOptions | unique: 'id'" ng-value="location.id">
                        {{location.name}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container ng-if="isSegmentsData">
                <md-select aria-label="Select Type" ng-model="idsObj.segmentId"
                           ng-disabled="isProcessingCrmData"
                           ng-if="isSegmentsData"
                           ng-change="fnChangeSegment(idsObj);">
                    <md-option ng-repeat="segment in segmentsOptions | unique: 'id'" ng-value="segment.id">
                        {{segment.name}}
                    </md-option>
                </md-select>
            </md-input-container>
        </section>

        <div ng-if="isSegmentsDataProcessing" layout="column" layout-align="center center"
             layout-fill flex>
            <md-progress-circular class="md-accent" md-diameter="100"
                                  md-mode="indeterminate"></md-progress-circular>
        </div>

        <div ng-if="!isSegmentsDataProcessing && !isSegmentsData">
            <div class="md-headline text-center">Segments not available.</div>
        </div>

        <div ng-if="isSegmentsData" ng-init="fnCreateDateRangePicker();">
            <section layout="row" layout-sm="column" layout-xs="column"
                     layout-align="space-between center"
                     layout-align-sm="space-around start"
                     layout-align-xs="space-around start">
                <div class="margin-top-16" layout="row" flex>
                    <date-range-picker id="pickDateRange" date-range-obj="dateRangeObj"
                                       selection-change="fnRefreshGrid"></date-range-picker>
                </div>

                <div layout="row" layout-align="space-between center" layout-fill flex>
                    <md-input-container flex>
                        <md-select-label>Status:</md-select-label>
                        <md-select aria-label="Select status" ng-model="filter.status"
                                   ng-disabled="isProcessingCrmData"
                                   ng-change="fnChangeFilter(filter);">
                            <md-option value="" selected>All Status</md-option>
                            <!--ALL STATUS-->
                            <md-option value="SCHEDULED">Scheduled</md-option>
                            <md-option value="UNDELIVERED">Undelivered</md-option>
                            <md-option value="DELIVERED">Delivered</md-option>
                            <md-option value="FAILED">Failed</md-option>
                            <md-option value="IGNORED">Ignored</md-option>
                            <md-option value="PREEMPTED">Preempted</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container flex>
                        <md-select-label>Type:</md-select-label>
                        <md-select aria-label="Select type" ng-model="filter.deliveryType"
                                   ng-disabled="isProcessingCrmData"
                                   ng-change="fnChangeFilter(filter);">
                            <md-option value="" selected>All Type</md-option>
                            <!--ALL TYPE-->
                            <md-option value="EMAIL">Email</md-option>
                            <md-option value="POST">Post</md-option>
                            <md-option value="SMS">SMS</md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div layout="row" layout-align="end center" layout-xs="column"
                     layout-align-sm="space-between center" layout-align-xs="space-between center"
                     layout-fill flex>
                    <md-button aria-label="Refresh Grid"
                               class="md-raised md-accent"
                               ng-disabled="isProcessingCrmData"
                               ng-click="fnRefreshGrid();">Refresh
                    </md-button>

                    <md-button aria-label="Download CSV"
                               class="md-raised md-accent"
                               ng-disabled="isProcessingCrmData"
                               ng-click="fnDownloadInteractionCSV($event, idsObj);">Export Interaction CSV
                    </md-button>
                </div>
            </section>

            <div ng-if="!isCrmInteractionData && !isCrmMsgGridShow" layout="column" layout-align="center center"
                 layout-fill flex>
                <md-progress-circular class="md-accent" md-diameter="100"
                                      md-mode="indeterminate"></md-progress-circular>
            </div>

            <div ng-if="isCrmMsgGridShow" class="margin-bottom-10">
                <div class="md-headline text-center">CRM interactions data not available.</div>
            </div>

            <!--UI Grid-->
            <div class="margin-bottom-10" ng-if="isCrmInteractionData"
                 ng-style="$root.fnReturnGridHeight(crmInteractionData.length, crmInteractionGridOptions.rowHeight);"
                 ui-grid="crmInteractionGridOptions" ui-grid-selection ui-grid-auto-resize ui-grid-resize-columns>
            </div>

            <div ng-if="isCrmInteractionData" layout="row" layout-align="center center" layout-margin>
                <div ng-if="isPagingData">
                    <md-button aria-label="More Segment Interactions" class="md-raised md-accent"
                               ng-click="fnLoadMoreCrmInteractions(idsObj);">
                        <span ng-if="isMoreCrmInteractions"> Loading... </span>
                        <span ng-if="!isMoreCrmInteractions">More CRM Interactions </span>
                    </md-button>
                </div>

                <div ng-if="!isPagingData">
                    <div class="md-title">... No more results found ...</div>
                </div>
            </div>
        </div>
    </div>
</div>
