<div id="rs-grid" class="md-padding">
    <div ng-if="!isRSDataNotNull && !isRSMsgShow" layout="column" layout-align="center center"
         layout-fill flex>
        <md-progress-circular class="md-accent" md-diameter="100" md-mode="indeterminate"></md-progress-circular>
    </div>

    <div ng-if="isRSMsgShow" class="margin-bottom-10">
        <div class="md-headline text-center">No recommended service available.</div>
    </div>

    <div ng-if="isRSDataNotNull"
         ng-style="$root.fnReturnGridHeight(recommendedServicesData.length)"
         ui-grid="recommendedServiceGridOptions" ui-grid-selection ui-grid-auto-resize ui-grid-resize-columns></div>
</div>
