<div id="ro-grid" layout-margin layout-padding>
    <div style="min-height: 300px; position: relative;" ng-if="!isRODataNotNull && !isROMsgShow">
        <div ng-include="'views/loader.html'"></div>
    </div>
    <div ng-if="isROMsgShow"><h1>No repair orders available</h1></div>
    <div ng-if="isRODataNotNull" layout-fill flex
         ui-grid-selection ui-grid-auto-resize
         ng-style="$root.fnReturnGridHeight(repairOrdersData.length)"
         ui-grid="repairOrderGridOptions"></div>
</div>
