<md-dialog class="forgot-password-dialog" aria-label="Forgot Password Modal">
    <md-toolbar>
        <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
            <span class="md-title">Forgot Password</span>
            <md-button class="md-icon-button" ng-click="fnCancel();">
                <md-icon md-font-set="material-icons">close</md-icon>
                <md-tooltip md-direction="top">Close</md-tooltip>
            </md-button>
        </div>
    </md-toolbar>

    <div class="md-padding">
        <md-dialog-content>
            <form name="forgotPasswordForm" layout="column" novalidate>
                <p class="text-justify">
                    Enter the email you registered with us previously and we'll send you an email
                    with instructions on how to reset your password.</p>
                <md-input-container>
                    <md-icon class="md-accent">email</md-icon>
                    <input type="email" ng-model="resendEmail" ng-minlength="5" placeholder="Your email address"
                           required>
                </md-input-container>
            </form>
        </md-dialog-content>

        <md-dialog-actions>
            <md-button class="md-raised md-accent" ng-disabled="forgotPasswordForm.$invalid"
                       ng-click="fnResendMail(resendEmail)">Send Email
            </md-button>
            <md-button class="md-warn md-raised md-hue-2" ng-click="fnHide()">Cancel</md-button>
        </md-dialog-actions>
    </div>

</md-dialog>
