<md-toolbar layout="row" ng-include="'views/header.html'"></md-toolbar>

<md-content>
    <div style="min-height: 20px;">
        <md-progress-linear class="md-accent" ng-if="user.isProcessing" md-mode="indeterminate"></md-progress-linear>
    </div>

    <div class="overflow-auto" layout="column" layout-align="space-between center" flex>
        <div class="md-whiteframe-z1 md-padding center-form-container" layout-margin>
            <div class="md-display-1 text-center" layout-padding>Sign In</div>

            <form name="signInForm" layout="column" novalidate>
                <md-input-container class="remove-error-space">
                    <md-icon class="md-accent">person</md-icon>
                    <input name="contactEmail" type="email" ng-model="user.email" ng-minlength="5" placeholder="Email"
                           required/>
                </md-input-container>

                <md-input-container class="remove-error-space">
                    <md-icon class="md-accent">lock</md-icon>
                    <input type="password" name="password" ng-model="user.password" minlength="5" placeholder="Password"
                           required/>
                </md-input-container>

                <div layout="column" layout-align="center center">
                    <div layout="row">
                        <md-button type="submit" class="md-raised md-accent"
                                   ng-disabled="signInForm.$invalid || user.isProcessing"
                                   ng-click="fnSignInUser(user);">
                            Sign In
                        </md-button>
                    </div>

                    <div layout="row">
                        <md-button class="md-accent" ng-click="fnForgotPassword($event);">
                            Forgot Your Password ?
                        </md-button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</md-content>